body {
    font-family: sans-serif;
    text-align: center;
    background: #333;
    color: #fff;
    height: 100vh;
}

#drop-area {
    border: 3px dashed #aaa;
    padding: 40px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

#image-container {

    display: flex;
    align-items: center;
    height: 100%;

    img {
        display: block;
        max-height: 100vh;
        width: auto;
        height: auto;
        margin: 0 auto;
    }
}

#url-form {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

input[type="text"] {
    width: 300px;
    padding: 8px;
}

button {
    padding: 8px 12px;
}

#admin-controls {
    display: none;
}